# Seleção de características

In [5]:
import seaborn as sns

- Carregar dataset `mpg`

In [6]:
mpg = sns.load_dataset('mpg')

In [7]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [9]:
mpg = mpg.select_dtypes('number').dropna()

In [10]:
mpg.head() # sem as colunas que não são numéricas

    mpg  cylinders  displacement  horsepower  weight  acceleration  model_year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70

In [11]:
X = mpg.drop('mpg', axis=1)
y = mpg['mpg']

In [12]:
X.head()

   cylinders  displacement  horsepower  weight  acceleration  model_year
0          8         307.0       130.0    3504          12.0          70
1          8         350.0       165.0    3693          11.5          70
2          8         318.0       150.0    3436          11.0          70
3          8         304.0       150.0    3433          12.0          70
4          8         302.0       140.0    3449          10.5          70

In [13]:
from sklearn.feature_selection import SelectKBest

- Vamos utilizar a estatística *f* como métrica

In [14]:
from sklearn.feature_selection import f_regression

In [15]:
selector = SelectKBest(f_regression, k = 2) # conjunto de duas carac que tenham melhor desempenho
selector.fit(X, y)

SelectKBest(k=2, score_func=<function f_regression at 0x7facca9ccdc0>)

In [16]:
X.columns[selector.get_support()] # retorna indice das colunas com melhor desempenho quando colocadas juntas

Index(['displacement', 'weight'], dtype='object')