In [26]:
import numpy as np 
from numpy import genfromtxt
import pandas as pd

In [30]:
dados = np.array(genfromtxt('ml-100k.csv', delimiter='\t'))

In [31]:
dados

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])

In [33]:
df = pd.DataFrame(data=dados)

In [34]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
count,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,...,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000
mean,1.858961,0.445387,0.289502,0.786850,0.301166,0.098621,1.579003,0.927890,1.235419,0.361612,...,0.003181,0.004242,0.003181,0.002121,0.003181,0.001060,0.003181,0.002121,0.003181,0.003181
std,2.042084,1.166107,0.966513,1.543481,0.992792,0.623179,1.977008,1.755518,1.906447,1.162804,...,0.097693,0.130258,0.097693,0.065129,0.097693,0.032564,0.097693,0.065129,0.097693,0.097693
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,3.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,3.000000,4.000000,3.000000,2.000000,3.000000,1.000000,3.000000,2.000000,3.000000,3.000000

In [36]:
df.shape

(943, 1682)

In [37]:
np.max(df)

0       5.0
1       5.0
2       5.0
3       5.0
4       5.0
       ...
1677    1.0
1678    3.0
1679    2.0
1680    3.0
1681    3.0
Length: 1682, dtype: float64

# MÃ©dia das AvaliaÃ§Ãµes - Por ID do Filme

In [40]:
np.mean(df, axis=0)

0       1.858961
1       0.445387
2       0.289502
3       0.786850
4       0.301166
          ...
1677    0.001060
1678    0.003181
1679    0.002121
1680    0.003181
1681    0.003181
Length: 1682, dtype: float64

# Desvio PadrÃ£o - Por ID do Filme

In [41]:
np.std(df, axis=0)

0       2.041001
1       1.165489
2       0.966000
3       1.542662
4       0.992265
          ...
1677    0.032547
1678    0.097642
1679    0.065094
1680    0.097642
1681    0.097642
Length: 1682, dtype: float64

# VariÃ¢ncia - Por ID do Filme

In [42]:
np.var(df, axis=0)

0       4.165686
1       1.358364
2       0.933156
3       2.379806
4       0.984590
          ...
1677    0.001059
1678    0.009534
1679    0.004237
1680    0.009534
1681    0.009534
Length: 1682, dtype: float64

# MÃ©dia das avaliaÃ§Ãµes por usuÃ¡rios

In [43]:
media_avaliacoes = np.mean(df, axis=1)

In [44]:
df['Media AvaliaÃ§Ãµes'] = media_avaliacoes # armazenar numa nova coluna

In [45]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,Media AvaliaÃ§Ãµes
0,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.583829
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.136742
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.089774
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.061831
4,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.299049

# Desvio PadrÃ£o

In [46]:
desvio_padrao = np.std(df, axis=1)

In [47]:
df['Desvio PadrÃ£o'] = desvio_padrao

In [48]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1674,1675,1676,1677,1678,1679,1680,1681,Media AvaliaÃ§Ãµes,Desvio PadrÃ£o
0,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.583829,1.422316
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.136742,0.725787
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.089774,0.538171
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.061831,0.524826
4,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.299049,0.980674

# VariÃ¢ncia

In [49]:
variancia = np.var(df, axis=1)

In [50]:
df['VariÃ¢ncia'] = variancia

In [51]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1675,1676,1677,1678,1679,1680,1681,Media AvaliaÃ§Ãµes,Desvio PadrÃ£o,VariÃ¢ncia
0,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.583829,1.422316,2.022199
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.136742,0.725787,0.526660
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.089774,0.538171,0.289575
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.061831,0.524826,0.275406
4,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.299049,0.980674,0.961427

In [53]:
# aplicando Z-score para padronizar os dados
def padronizacao(linha):
    nova_linha = (linha - linha.mean())/(linha.max() - linha.min())
    return nova_linha

In [54]:
df_std = df.apply(padronizacao)

In [56]:
df_std.head()

,0,1,2,3,4,5,6,7,8,9,...,1675,1676,1677,1678,1679,1680,1681,Media AvaliaÃ§Ãµes,Desvio PadrÃ£o,VariÃ¢ncia
0,0.628208,0.510923,0.7421,0.44263,0.539767,0.980276,0.484199,0.014422,0.752916,0.527678,...,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,0.297008,0.374185,0.363559
1,0.428208,-0.089077,-0.0579,-0.15737,-0.060233,-0.019724,-0.315801,-0.185578,-0.247084,0.327678,...,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.070539,-0.052497,-0.071877
2,-0.371792,-0.089077,-0.0579,-0.15737,-0.060233,-0.019724,-0.315801,-0.185578,-0.247084,-0.072322,...,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.109151,-0.167428,-0.140906
3,-0.371792,-0.089077,-0.0579,-0.15737,-0.060233,-0.019724,-0.315801,-0.185578,-0.247084,-0.072322,...,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.132122,-0.175603,-0.145032
4,0.428208,0.510923,-0.0579,-0.15737,-0.060233,-0.019724,-0.315801,-0.185578,-0.247084,-0.072322,...,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,-0.00106,0.062892,0.103643,0.054708