- Numpy - matrizes homogeneas. Todos os dados tem o mesmo tipo;
- No mundo real não temos dados que são homogeneos;
- Se for carregar um dataset muito grande, tem que garantir espaço;
- Pandas é um framework para a parte de carregamento em memória pensando em datasets que são grandes;
- Reduce - quebrar um problema em subproblemas, como quebrar linhas de uma tabela e realizar as operações em tabelas menores;

### Pandas
- Estrutura de dados de alto nível;
- Funções projetadas para tornar o trabalho com dados estruturados ou tabulares rápido, fácil e expressivo;
- Permite que o Python seja um ambiente de análise de dados poderoso e produtivo;
- Combina ideias de operações de alto desempenho do Numpy com recursos de manipulação de dados de planilhas e bancos de dados relacionais;
- Indexação sofisticada para facilitar reshaping, splitting, realizar agregações e slicing/subsetting;
- Estrutura de dados inspiradas no data.frame do R;

#### Series:
- ndarray unidimensional com rótulos no eixo;
- Uma coluna em uma tabela ou planilha com o mesmo tipo de dados;
- Possui um único eixo;
- Array de labels, chamado de índice;
    - Pode ser valores não numéricos e até valores repetidos;
    - Podem ser omitidos durante a construção do objeto do tipo Series.

#### DataFrame:
- Concatenação de varias séries;
-

In [101]:
import pandas as pd

In [102]:
dados_apple = pd.Series([3, 0, 4, 5])

In [103]:
dados_apple # primeira coluna representa índice e a segunda representa valores

0    3
1    0
2    4
3    5
dtype: int64

In [104]:
dados_apple.values # retorna numpy array

array([3, 0, 4, 5])

In [105]:
dados_apple.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
dados_apple = pd.Series([3, 0, 4, 5], index=a, b, c, d) # ver como renomear o índice na aula gravada

In [106]:
dados_apple['a'] # mostra o valor do indice a

KeyError: 'a'

In [ ]:
dados_apple['a'] = 100 # muda valor do indice a

In [ ]:
dados_apple[['c', 'd', 'a']] # mostra os dados nessa ordem

In [ ]:
dados_apple.a # como se fosse dados_apple['a']

In [107]:
pop_por_estado = {"SP": 46.3, "MG": 21.3, "RJ": 17.3}

In [108]:
pop_por_estado

{'SP': 46.3, 'MG': 21.3, 'RJ': 17.3}

In [109]:
pop = pd.Series(pop_por_estado)

In [110]:
pop # valor da chave vira o meu índice

SP    46.3
MG    21.3
RJ    17.3
dtype: float64

In [111]:
pop.index

Index(['SP', 'MG', 'RJ'], dtype='object')

In [112]:
pop = pd.Series(pop_por_estado, index=["RJ", "MG", "SP", "BA"])

In [113]:
pop # Bahia retorna um NaN

RJ    17.3
MG    21.3
SP    46.3
BA     NaN
dtype: float64

In [114]:
pop = pd.Series(pop_por_estado, index=["RJ", "MG", "SP", "BA", "CE"]) 
# um NaN pode ser um dado faltante e outro pode ser um dado de outro tipo

In [115]:
import numpy as np

In [116]:
np.nan

nan

In [117]:
# pop['SP'] = np.nan

In [118]:
pop

RJ    17.3
MG    21.3
SP    46.3
BA     NaN
CE     NaN
dtype: float64

In [119]:
pop.isnull()

RJ    False
MG    False
SP    False
BA     True
CE     True
dtype: bool

In [120]:
pop.isna()

RJ    False
MG    False
SP    False
BA     True
CE     True
dtype: bool

In [121]:
pop

RJ    17.3
MG    21.3
SP    46.3
BA     NaN
CE     NaN
dtype: float64

In [122]:
pop+1 # adiciona valor em todos, mas os que estao faltando, continuam faltando

RJ    18.3
MG    22.3
SP    47.3
BA     NaN
CE     NaN
dtype: float64

In [123]:
pop * np.arange(1,6) # vai multiplicar por vetor de 1 a 6

RJ     17.3
MG     42.6
SP    138.9
BA      NaN
CE      NaN
dtype: float64

In [124]:
pop.notnull()

RJ     True
MG     True
SP     True
BA    False
CE    False
dtype: bool

In [125]:
pop[pop>18] # retorna onde é maior que 18, por exemplo

MG    21.3
SP    46.3
dtype: float64

In [126]:
pop>18 # booleano

RJ    False
MG     True
SP     True
BA    False
CE    False
dtype: bool

In [127]:
pop2 = pd.Series({"SP": 10, "CE": 9, "GO": 7})

In [128]:
pop2

SP    10
CE     9
GO     7
dtype: int64

In [129]:
pop

RJ    17.3
MG    21.3
SP    46.3
BA     NaN
CE     NaN
dtype: float64

In [130]:
pop+pop2 # soma entre um numero e um NaN é um NaN

BA     NaN
CE     NaN
GO     NaN
MG     NaN
RJ     NaN
SP    56.3
dtype: float64

In [131]:
pop.add(pop2) # mesma operação

BA     NaN
CE     NaN
GO     NaN
MG     NaN
RJ     NaN
SP    56.3
dtype: float64

In [132]:
pop.add(pop2, fill_value=0)

BA     NaN
CE     9.0
GO     7.0
MG    21.3
RJ    17.3
SP    56.3
dtype: float64

In [133]:
pop_dict = {"estado": ["SP", "MG", "RJ", "BA"], "pop": [46.2, 21.2, 17.3, 14.9], "ano": [2020, 2018, 2018, 2017]}

In [134]:
pop_dict # 3 chaves

{'estado': ['SP', 'MG', 'RJ', 'BA'],
 'pop': [46.2, 21.2, 17.3, 14.9],
 'ano': [2020, 2018, 2018, 2017]}

In [135]:
pop = pd.DataFrame(pop_dict)

In [136]:
pop

  estado   pop   ano
0     SP  46.2  2020
1     MG  21.2  2018
2     RJ  17.3  2018
3     BA  14.9  2017

In [137]:
pop = pd.DataFrame(pop_dict, columns=["ano", "estado", "pop"])

In [138]:
pop

    ano estado   pop
0  2020     SP  46.2
1  2018     MG  21.2
2  2018     RJ  17.3
3  2017     BA  14.9

In [139]:
pop.index

RangeIndex(start=0, stop=4, step=1)

In [140]:
pop.columns # chama de colunas, mas também é um índice

Index(['ano', 'estado', 'pop'], dtype='object')

In [141]:
pop = pd.DataFrame(pop_dict, columns=["ano", "estado", "pop", "divida"])

In [142]:
pop # cria a coluna divida, mas preenche com NaN

    ano estado   pop divida
0  2020     SP  46.2    NaN
1  2018     MG  21.2    NaN
2  2018     RJ  17.3    NaN
3  2017     BA  14.9    NaN

In [143]:
pop.estado # mostra só uma coluna

0    SP
1    MG
2    RJ
3    BA
Name: estado, dtype: object

In [144]:
pop.divida

0    NaN
1    NaN
2    NaN
3    NaN
Name: divida, dtype: object

In [145]:
pop['ano']

0    2020
1    2018
2    2018
3    2017
Name: ano, dtype: int64

In [146]:
pop[0:3] # retorna o subconjunto do DF indexado entre 0 e 3

    ano estado   pop divida
0  2020     SP  46.2    NaN
1  2018     MG  21.2    NaN
2  2018     RJ  17.3    NaN

In [147]:
pop[['estado', 'divida']] # retorna essas duas colunas

  estado divida
0     SP    NaN
1     MG    NaN
2     RJ    NaN
3     BA    NaN

In [148]:
pop['divida'] = 10 # preenche os NaN com esse valor especificado

In [149]:
pop['divida'] = np.arange(1., 5.) # preenche com vetores de 1 a 4 a coluna de dívida

In [150]:
pop

    ano estado   pop  divida
0  2020     SP  46.2     1.0
1  2018     MG  21.2     2.0
2  2018     RJ  17.3     3.0
3  2017     BA  14.9     4.0

In [151]:
pop = pd.DataFrame(pop_dict, columns=['ano', 'estado', 'pop', 'divida'],
                    index=["um", "dois", "tres", "quatro"])

In [152]:
pop

         ano estado   pop divida
um      2020     SP  46.2    NaN
dois    2018     MG  21.2    NaN
tres    2018     RJ  17.3    NaN
quatro  2017     BA  14.9    NaN

In [153]:
pop_dict = {"estado": ["SP", "PA"], "pop": [46.2, 11.5], "ano": [2020, 2018]}

In [154]:
pop2 = pd.DataFrame(pop_dict, index=["um", "dois"])

In [155]:
pop2

     estado   pop   ano
um       SP  46.2  2020
dois     PA  11.5  2018

In [156]:
pop + pop2 # onde é string, vai concatenar (MGPA, SPSP)

           ano  divida estado   pop
dois    4036.0     NaN   MGPA  32.7
quatro     NaN     NaN    NaN   NaN
tres       NaN     NaN    NaN   NaN
um      4040.0     NaN   SPSP  92.4

In [157]:
val_dividas = pd.Series([50, 10, 20], index=["dois", "quatro", "um"])

In [158]:
val_dividas

dois      50
quatro    10
um        20
dtype: int64

In [159]:
pop['divida'] = val_dividas

In [160]:
pop

         ano estado   pop  divida
um      2020     SP  46.2    20.0
dois    2018     MG  21.2    50.0
tres    2018     RJ  17.3     NaN
quatro  2017     BA  14.9    10.0

In [161]:
# adicionar coluna
pop['x'] = 0

In [162]:
pop

         ano estado   pop  divida  x
um      2020     SP  46.2    20.0  0
dois    2018     MG  21.2    50.0  0
tres    2018     RJ  17.3     NaN  0
quatro  2017     BA  14.9    10.0  0

In [163]:
# remover coluna:
del(pop['x'])

In [164]:
pop

         ano estado   pop  divida
um      2020     SP  46.2    20.0
dois    2018     MG  21.2    50.0
tres    2018     RJ  17.3     NaN
quatro  2017     BA  14.9    10.0

In [165]:
pop.reindex(index=["quatro", "tres", "dois", "um", "zero"]) # renomear. A que nao existia antes, será preenchida com NaN

           ano estado   pop  divida
quatro  2017.0     BA  14.9    10.0
tres    2018.0     RJ  17.3     NaN
dois    2018.0     MG  21.2    50.0
um      2020.0     SP  46.2    20.0
zero       NaN    NaN   NaN     NaN

In [166]:
# trocar ordem das colunas
pop = pop.reindex(index=["quatro", "tres", "dois", "um", "zero"], columns=["divida", "pop", "estado", "ano"])

In [167]:
pop.append({"ano": 2015, "estado": "GO", "pop": 12, "divida": 5}), ignore_index=True

SyntaxError: cannot assign to function call (<ipython-input-167-717820172fd9>, line 1)

In [172]:
pop.drop(2) # remove o indice

KeyError: '[2] not found in axis'

In [174]:
pop.drop("estado", axis=1) # remover no eixo das colunas, o valor 'estado'

        divida   pop     ano
quatro    10.0  14.9  2017.0
tres       NaN  17.3  2018.0
dois      50.0  21.2  2018.0
um        20.0  46.2  2020.0
zero       NaN   NaN     NaN

In [ ]:
# me perdi = em 2 horas de aula, aproximadamente.

In [176]:
pop_dict = {"estado": ["SP", "MG", "RJ", "BA"], "pop": [46.2, 21.2, 17.3, 14.9], "ano": [2020, 2018, 2018, 2017]}

In [177]:
pop = pd.DataFrame(pop_dict, columns=['ano', 'estado', 'pop', 'divida'],
                    index=["um", "dois", "tres", "quatro"])

In [178]:
pop

         ano estado   pop divida
um      2020     SP  46.2    NaN
dois    2018     MG  21.2    NaN
tres    2018     RJ  17.3    NaN
quatro  2017     BA  14.9    NaN

In [179]:
pop.loc["dois", ["estado", "pop"]]

estado      MG
pop       21.2
Name: dois, dtype: object

In [180]:
pop.loc[["dois", "quatro"], ["estado", "pop"]]

       estado   pop
dois       MG  21.2
quatro     BA  14.9

In [181]:
pop.loc[["dois", "quatro"], :]

         ano estado   pop divida
dois    2018     MG  21.2    NaN
quatro  2017     BA  14.9    NaN

In [182]:
pop.loc[["dois", "quatro"], "estado":"pop"]

       estado   pop
dois       MG  21.2
quatro     BA  14.9

In [183]:
pop.loc[["dois", "quatro"], "estado":"divida"]

       estado   pop divida
dois       MG  21.2    NaN
quatro     BA  14.9    NaN

In [184]:
pop.loc["dois": "quatro", "estado":"divida"]

       estado   pop divida
dois       MG  21.2    NaN
tres       RJ  17.3    NaN
quatro     BA  14.9    NaN

In [185]:
# por numeros
pop.iloc[[0,3], [0,1]] # 0 e 3 linha, 0 e 1 colunas

         ano estado
um      2020     SP
quatro  2017     BA

In [187]:
pop.iloc[[0,3], 0:2] # 0 e 3 linha, 0 à 2 coluna (2 excluso)

         ano estado
um      2020     SP
quatro  2017     BA

In [188]:
# dataset imdb = 11:06