## Lidando com Dados Ausentes

Como resolver problemas com os NA's

In [ ]:
import numpy as np
from numpy import nan as NA
import pandas as pd

In [ ]:
data = pd.DataFrame([[1, 6.5, 3], [1, NA, NA], [NA, NA, NA], [NA, 6.5, 3]])

In [ ]:
data

In [ ]:
data.dropna() # dropa todas as linhas nas quais possuem valores de NA

In [ ]:
data.dropna(how="all") # faça os drops nas linhas nas quais TODOS os valores forem NA's

#### Fazendo drop nas colunas

In [ ]:
data[3] = NA # adicionando coluna nova só de na's
data

In [ ]:
data.dropna(axis=1, how="all") # remove a coluna em que TODOS os dados são NA's

#### Utilizando um threshhold - número de dados faltando que seja aceitável

In [ ]:
df = pd.DataFrame(np.random.randn(7,3))

In [ ]:
df

#### Introduzir NA's

In [ ]:
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA

In [ ]:
df

In [ ]:
# quero dizer que é aceitável que a gente possua alguns NA's no nosso dataset
df.dropna(thresh=2) # remover as linhas em que tenho 2 ou mais ocorrencias de NA

## Preenchimento de valores faltantes

In [ ]:
df.fillna(0) # onde tem valor faltando, virou 0

In [ ]:
df.fillna({1: 0.5, 2:0}) # especifica coluna e o valor que quero substituir

#### Substituir pela média

In [ ]:
df.fillna(df.mean()) # substituem pela média dos valores da coluna. Posso colocar pelo eixo também

## Lidando com valores duplicados

In [ ]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + [ 'two'],
                    'k2': [1,1,2,3,3,4,4]})

In [ ]:
data

In [ ]:
data.duplicated() # retorna uma serie do pandas onde tenho um booleano para cada um dos indices informando se ele é duplicado

In [ ]:
data.drop_duplicates() # remove a sexta linha

In [ ]:
data.drop_duplicates(['k1']) # especificando qual coluna. Remove os duplicados, mantendo a primeira ocorrência

In [ ]:
data.drop_duplicates(['k1'], keep='last') # mantenha a ultima ocorrencia do duplicado

## Troca de valores

In [ ]:
data = pd.Series([1, -999, 2, -999, 1000, 3])

In [ ]:
data

In [ ]:
data.replace(-999, NA) # substituir o -999 por NA

In [ ]:
# Múltiplas substituições ao mesmo tempo:
data.replace({-999: NA, 1000: 0})

## Aplicando Funções
https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset

In [ ]:
imdb_dataset = pd.read_csv('/tmp/imdb.scv', index_col='title') # mudar diretorio depois

In [ ]:
imdb_dataset.info() # mostra colunas

In [ ]:
imdb_dataset['avg_vote'] # notas que vão de 0 a 10

In [ ]:
def classificar_filme(nota_filme): # receber um valor e retornar uma string dizendo se é bom ou ruim
    if nota_filme['n1'] >= 8.0 and nota_filme['n2'] >= 8.0:
        return "bom"
    else:
        return "ruim"

In [ ]:
# aplicar essa função na nossa coluna do avarage vote
imdb_dataset["avg_vote"].apply(classificar_filme)

#posso aplicar a minha função por eixo

In [ ]:
data = pd.DataFrame({"filme": ["Miss Jerry", "The story of the Kelly Gang", "Cleopatra"],
                    "n1": [2, 5, 10],
                    "n2": [10, 5, 8]})

In [ ]:
data

In [ ]:
data.loc[:, 'n1':] # selecionar todas as linhas na coluna N1 até o final

In [ ]:
data.loc[:, 'n1':].apply(classificar_filme, axis=1)

## Discretização/binning
- agrupar valores de x que são contínuos em categorias

In [ ]:
idades = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [ ]:
bins = [18, 25, 35, 60, 100]

In [ ]:
pd.cut(idades, bins) # numero 20, esta entre 18 e 25 / numero 22 também, etc/ Esta retornando as categorias

In [ ]:
cats = pd.cut(idades, bins)

In [ ]:
cats.codes # os tres primeiros correspondem a categoria 0, depois a categoria 1, etc...

In [ ]:
cats.categories # quais categorias foram geradas
# fechado a direita = valor a direita incluso. Aberto a esquerda = valor a esquerda nao incluso

In [ ]:
pd.value_counts(cats) # mostra os valores agrupados. Quantas ocorrencias em cada categoria

In [ ]:
grupos = ['Jovem', 'Adulto', 'Meia-Idade', 'Senior']

In [ ]:
pd.cut(idades, bins, labels = grupos)

## Detecção de Outliers

In [ ]:
data = pd.DataFrame(np.random.randn(1000,4))

In [ ]:
data.describe()

- procurando valores (em módulo) maiores do que 3, na coluina de índice 2

In [ ]:
col = data[2]

In [ ]:
col

In [ ]:
col[np.abs(col) > 3] # valores onde possuem valores maiores que 3 naquela coluna

- Generalizando para o dataset inteiro

In [ ]:
data[(np.abs(data)>3).any(axis=1)] # as linhas que possuem dados com valor maior que 3

In [ ]:
data[(np.abs(data)>3).any(axis=1)] = np.sign(data) * 3 # substituir tudo que está maior que 3 e menores que -3 com o limte de 3 e -3

In [ ]:
data.describe() # valor máximo está com 3, e mínimo com -3

## Amostragem

In [ ]:
df = pd.DataFrame(np.arange(5*4).reshape(5,4))

In [ ]:
df

In [ ]:
df.sample(n=3) # não terei valores repetidos. Sempre que sorteio uma linha, ela nao será sorteada denovo

In [ ]:
df.sample(n=6, replace=True) # aqui tem repetição

## Consumo de dados via API REST

- Nasa API's (api.nasa.gov)
    - Consulta de dados
    - Vamos utilizar NeoWs - Near Earth Objects
    - Conjunto de dados que dizem o nome dos asteróides e as menores distancias que ele já esteve da Terra
    - Example query - depois de Neo - Browse
    - Authentication: 1000 requisições por hora
    - Gerar uma chave de API para identificar quem está fazendo a consulta

- Dados Json:
```Json
["valor1", "valor2"] - somente strings com aspas duplas
{"k1": 1,}
1
2
3
"valor 1"
"valor 1"
```

In [51]:
url="https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=rsTSh621hbpy9PYSGpOdfvQIsobKdfja2EtMB2HW"

In [52]:
import requests

In [53]:
resp = requests.get(url)

In [54]:
data = resp.json() # retornar o formato da resposta como um json
# ja faz onversão para um dicionario do python

In [55]:
data.keys() # vai retornar as chaves

dict_keys(['links', 'page', 'near_earth_objects'])

In [56]:
data['page']

{'size': 20, 'total_elements': 25979, 'total_pages': 1299, 'number': 0}

In [57]:
data['near_earth_objects'] # virá o conjunto de todos os asteroides

approach_date': '2127-05-24',
    'close_approach_date_full': '2127-May-24 21:52',
    'epoch_date_close_approach': 4966869120000,
    'relative_velocity': {'kilometers_per_second': '5.7506342234',
     'kilometers_per_hour': '20702.2832040983',
     'miles_per_hour': '12863.5936942354'},
    'miss_distance': {'astronomical': '0.0650667019',
     'lunar': '25.3109470391',
     'kilometers': '9733840.012164953',
     'miles': '6048327.7188762314'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2139-05-20',
    'close_approach_date_full': '2139-May-20 15:24',
    'epoch_date_close_approach': 5345191440000,
    'relative_velocity': {'kilometers_per_second': '5.4042162537',
     'kilometers_per_hour': '19455.178513355',
     'miles_per_hour': '12088.6913379233'},
    'miss_distance': {'astronomical': '0.0683516664',
     'lunar': '26.5887982296',
     'kilometers': '10225263.704390568',
     'miles': '6353684.2416551184'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2151-05-10',
    'close_approach_date_full': '2151-May-10 11:55',
    'epoch_date_close_approach': 5723006100000,
    'relative_velocity': {'kilometers_per_second': '6.2679658412',
     'kilometers_per_hour': '22564.6770284345',
     'miles_per_hour': '14020.8127902514'},
    'miss_distance': {'astronomical': '0.148159464',
     'lunar': '57.634031496',
     'kilometers': '22164340.23474168',
     'miles': '13772282.392647984'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2163-04-25',
    'close_approach_date_full': '2163-Apr-25 13:36',
    'epoch_date_close_approach': 6100407360000,
    'relative_velocity': {'kilometers_per_second': '10.0377662274',
     'kilometers_per_hour': '36135.9584186879',
     'miles_per_hour': '22453.4792741008'},
    'miss_distance': {'astronomical': '0.2978484824',
     'lunar': '115.8630596536',
     'kilometers': '44557498.549772488',
     'miles': '27686745.7473688144'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2168-02-03',
    'close_approach_date_full': '2168-Feb-03 10:34',
    'epoch_date_close_approach': 6251164440000,
    'relative_velocity': {'kilometers_per_second': '6.2394377057',
     'kilometers_per_hour': '22461.9757404802',
     'miles_per_hour': '13956.9982038556'},
    'miss_distance': {'astronomical': '0.4867145139',
     'lunar': '189.3319459071',
     'kilometers': '72811454.577525393',
     'miles': '45242939.9314727034'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2175-04-12',
    'close_approach_date_full': '2175-Apr-12 16:51',
    'epoch_date_close_approach': 6477987060000,
    'relative_velocity': {'kilometers_per_second': '14.9806240359',
     'kilometers_per_hour': '53930.2465292911',
     'miles_per_hour': '33510.1579059365'},
    'miss_distance': {'astronomical': '0.4683843325',
     'lunar': '182.2015053425',
     'kilometers': '70069298.483371775',
     'miles': '43539043.145309495'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2175-08-03',
    'close_approach_date_full': '2175-Aug-03 19:04',
    'epoch_date_close_approach': 6487758240000,
    'relative_velocity': {'kilometers_per_second': '4.1854490636',
     'kilometers_per_hour': '15067.6166291055',
     'miles_per_hour': '9362.4310104573'},
    'miss_distance': {'astronomical': '0.4511289169',
     'lunar': '175.4891486741',
     'kilometers': '67487925.063647003',
     'miles': '41935052.0803465214'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2180-02-23',
    'close_approach_date_full': '2180-Feb-23 19:42',
    'epoch_date_close_approach': 6631616520000,
    'relative_velocity': {'kilometers_per_second': '3.671843669',
     'kilometers_per_hour': '13218.6372082952',
     'miles_per_hour': '8213.547103121'},
    'miss_distance': {'astronomical': '0.4035399535',
     'lunar': '156.9770419115',
     'kilometers': '60368717.503499045',
     'miles': '37511381.630795021'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2180-06-16',
    'close_approach_date_full': '2180-Jun-16 03:59',
    'epoch_date_close_approach': 6641409540000,
    'relative_velocity': {'kilometers_per_second': '13.414743744',
     'kilometers_per_hour': '48293.077478535',
     'miles_per_hour': '30007.4402810375'},
    'miss_distance': {'astronomical': '0.366968488',
     'lunar': '142.750741832',
     'kilometers': '54897704.16192056',
     'miles': '34111851.578641328'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2192-06-06',
    'close_approach_date_full': '2192-Jun-06 02:00',
    'epoch_date_close_approach': 7019229600000,
    'relative_velocity': {'kilometers_per_second': '9.0786925305',
     'kilometers_per_hour': '32683.2931098996',
     'miles_per_hour': '20308.1273215373'},
    'miss_distance': {'astronomical': '0.2038450821',
     'lunar': '79.2957369369',
     'kilometers': '30494790.092135127',
     'miles': '18948583.9057416726'},
    'orbiting_body': 'Earth'}],
  'orbital_data': {'orbit_id': '553',
   'orbit_determination_date': '2021-05-19 06:23:14',
   'first_observation_date': '1973-03-10',
   'last_observation_date': '2021-05-18',
   'data_arc_in_days': 17601,
   'observations_used': 3768,
   'orbit_uncertainty': '0',
   'minimum_orbit_intersection': '.0611846',
   'jupiter_tisserand_invariant': '4.639',
   'epoch_osculation': '2459200.5',
   'eccentricity': '.2559038074969538',
   'semi_major_axis': '1.430558085296052',
   'inclination': '8.705521025403852',
   'ascending_node_longitude': '246.3282486154245',
   'orbital_period': '624.9664031940811',
   'perihelion_distance': '1.06447282442324',
   'perihelion_argument': '338.3691838161117',
   'aphelion_distance': '1.796643346168864',
   'perihelion_time': '2459298.674504985801',
   'mean_anomaly': '303.4484452056011',
   'mean_motion': '.5760309644808271',
   'equinox': 'J2000',
   'orbit_class': {'orbit_class_type': 'AMO',
    'orbit_class_description': 'Near-Earth asteroid orbits similar to that of 1221 Amor',
    'orbit_class_range': '1.017 AU < q (perihelion) < 1.3 AU'}},
  'is_sentry_object': False},
 {'links': {'self': 'http://www.neowsapp.com/rest/v1/neo/2001980?api_key=rsTSh621hbpy9PYSGpOdfvQIsobKdfja2EtMB2HW'},
  'id': '2001980',
  'neo_reference_id': '2001980',
  'name': '1980 Tezcatlipoca (1950 LA)',
  'name_limited': 'Tezcatlipoca',
  'designation': '1980',
  'nasa_jpl_url': 'http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001980',
  'absolute_magnitude_h': 13.81,
  'estimated_diameter': {'kilometers': {'estimated_diameter_min': 4.5978518828,
    'estimated_diameter_max': 10.2811093604},
   'meters': {'estimated_diameter_min': 4597.8518827937,
    'estimated_diameter_max': 10281.1093604022},
   'miles': {'estimated_diameter_min': 2.8569718223,
    'estimated_diameter_max': 6.3883832044},
   'feet': {'estimated_diameter_min': 15084.816371145,
    'estimated_diameter_max': 33730.6748339819}},
  'is_potentially_hazardous_asteroid': False,
  'close_approach_data': [{'close_approach_date': '1921-07-08',
    'close_approach_date_full': '1921-Jul-08 00:32',
    'epoch_date_close_approach': -1530055680000,
    'relative_velocity': {'kilometers_per_second': '12.9006029055',
     'kilometers_per_hour': '46442.1704598637',
     'miles_per_hour': '28857.3586393525'},
    'miss_distance': {'astronomical': '0.4790089051',
     'lunar': '186.3344640839',
     'kilometers': '71658711.913992137',
     'miles': '44526658.8547480106'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '1921-11-16',
    'close_approach_date_full': '1921-Nov-16 02:26',
    'epoch_date_close_approach': -1518730440000,
    'relative_velocity': {'kilometers_per_second': '16.7529353996',
     'kilometers_per_hour': '60310.5674385053',
     'miles_per_hour': '37474.6411953312'},
    'miss_distance': {'astronomical': '0.2701654864',
     'lunar': '105.0943742096',
     'kilometers': '40416181.312953968',
     'miles': '25113450.5416940384'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '1930-11-17',
    'close_approach_date_full': '1930-Nov-17 10:44',
    'epoch_date_close_approach': -1234617360000,
    'relative_velocity': {'kilometers_per_second': '13.8569947527',
     'kilometers_per_hour': '49885.1811098212',
     'miles_per_hour': '30996.7115623775'},
    'miss_distance': {'astronomical': '0.3391659028',
     'lunar': '131.9355361892',
     'kilometers': '50738496.635507036',
     'miles': '31527439.8624916568'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '1959-07-08',
    'close_approach_date_full': '1959-Jul-08 17:04',
    'epoch_date_close_approach': -330850560000,
    'relative_velocity': {'kilometers_per_second': '12.8672038368',
     'kilometers_per_hour': '46321.9338125239',
     'miles_per_hour': '28782.6482625652'},
    'miss_distance': {'astronomical': '0.4819694837',
     'lunar': '187.4861291593',
     'kilometers': '72101608.166519719',
     'miles': '44801861.8247373622'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '1959-11-16',
    'close_approach_date_full': '1959-Nov-16 16:37',
    'epoch_date_close_approach': -319533780000,
    'relative_velocity': {'kilometers_per_second': '16.8143110753',
     'kilometers_per_hour': '60531.5198712089',
     'miles_per_hour': '37611.9324444187'},
    'miss_distance': {'astronomical': '0.2726656843',
     'lunar': '106.0669511927',
     'kilometers': '40790205.593372441',
     'miles': '25345858.4526480458'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '1968-11-16',
    'close_approach_date_full': '1968-Nov-16 22:23',
    'epoch_date_close_approach': -35429820000,
    'relative_velocity': {'kilometers_per_second': '13.8743396302',
     'kilometers_per_hour': '49947.6226686444',
     'miles_per_hour': '31035.5103187474'},
    'miss_distance': {'astronomical': '0.3369656757',
     'lunar': '131.0796478473',
     'kilometers': '50409347.347830759',
     'miles': '31322915.9790281142'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '1997-07-08',
    'close_approach_date_full': '1997-Jul-08 05:19',
    'epoch_date_close_approach': 868339140000,
    'relative_velocity': {'kilometers_per_second': '12.8440002892',
     'kilometers_per_hour': '46238.4010412266',
     'miles_per_hour': '28730.7442469777'},
    'miss_distance': {'astronomical': '0.4838779431',
     'lunar': '188.2285198659',
     'kilometers': '72387109.627741197',
     'miles': '44979264.2064826386'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '1997-11-16',
    'close_approach_date_full': '1997-Nov-16 07:56',
    'epoch_date_close_approach': 879666960000,
    'relative_velocity': {'kilometers_per_second': '16.8865767896',
     'kilometers_per_hour': '60791.6764426694',
     'miles_per_hour': '37773.5836207242'},
    'miss_distance': {'astronomical': '0.2742866588',
     'lunar': '106.6975102732',
     'kilometers': '41032699.925896756',
     'miles': '25496537.4438009928'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2006-11-17',
    'close_approach_date_full': '2006-Nov-17 07:34',
    'epoch_date_close_approach': 1163748840000,
    'relative_velocity': {'kilometers_per_second': '13.9179423553',
     'kilometers_per_hour': '50104.5924792582',
     'miles_per_hour': '31133.0452546813'},
    'miss_distance': {'astronomical': '0.3304057411',
     'lunar': '128.5278332879',
     'kilometers': '49427995.104331457',
     'miles': '30713131.9709778266'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2035-07-08',
    'close_approach_date_full': '2035-Jul-08 15:27',
    'epoch_date_close_approach': 2067521220000,
    'relative_velocity': {'kilometers_per_second': '12.8046673382',
     'kilometers_per_hour': '46096.8024175625',
     'miles_per_hour': '28642.760368846'},
    'miss_distance': {'astronomical': '0.4869480746',
     'lunar': '189.4228010194',
     'kilometers': '72846394.760761102',
     'miles': '45264650.7545911276'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2035-11-17',
    'close_approach_date_full': '2035-Nov-17 00:45',
    'epoch_date_close_approach': 2078873100000,
    'relative_velocity': {'kilometers_per_second': '17.0299235491',
     'kilometers_per_hour': '61307.7247767222',
     'miles_per_hour': '38094.2359869583'},
    'miss_distance': {'astronomical': '0.2784577155',
     'lunar': '108.3200513295',
     'kilometers': '41656681.123865985',
     'miles': '25884261.381221193'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2044-11-16',
    'close_approach_date_full': '2044-Nov-16 18:05',
    'epoch_date_close_approach': 2362932300000,
    'relative_velocity': {'kilometers_per_second': '13.948711132',
     'kilometers_per_hour': '50215.3600750474',
     'miles_per_hour': '31201.871931076'},
    'miss_distance': {'astronomical': '0.3259072538',
     'lunar': '126.7779217282',
     'kilometers': '48755030.986029406',
     'miles': '30294971.4582255628'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2073-07-08',
    'close_approach_date_full': '2073-Jul-08 02:32',
    'epoch_date_close_approach': 3266706720000,
    'relative_velocity': {'kilometers_per_second': '12.775729918',
     'kilometers_per_hour': '45992.6277047291',
     'miles_per_hour': '28578.0302535301'},
    'miss_distance': {'astronomical': '0.4895920114',
     'lunar': '190.4512924346',
     'kilometers': '73241922.074455718',
     'miles': '45510420.0308481884'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2073-11-16',
    'close_approach_date_full': '2073-Nov-16 16:09',
    'epoch_date_close_approach': 3278074140000,
    'relative_velocity': {'kilometers_per_second': '17.1490922652',
     'kilometers_per_hour': '61736.7321546185',
     'miles_per_hour': '38360.8044879628'},
    'miss_distance': {'astronomical': '0.2828993519',
     'lunar': '110.0478478891',
     'kilometers': '42321140.468620453',
     'miles': '26297137.2727421314'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2082-11-17',
    'close_approach_date_full': '2082-Nov-17 03:15',
    'epoch_date_close_approach': 3562110900000,
    'relative_velocity': {'kilometers_per_second': '13.9996667847',
     'kilometers_per_hour': '50398.8004247422',
     'miles_per_hour': '31315.8546305849'},
    'miss_distance': {'astronomical': '0.3182762118',
     'lunar': '123.8094463902',
     'kilometers': '47613443.356948866',
     'miles': '29585621.7984957108'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2111-07-09',
    'close_approach_date_full': '2111-Jul-09 07:57',
    'epoch_date_close_approach': 4465871820000,
    'relative_velocity': {'kilometers_per_second': '12.7465202154',
     'kilometers_per_hour': '45887.4727752672',
     'miles_per_hour': '28512.6910697209'},
    'miss_distance': {'astronomical': '0.4926367862',
     'lunar': '191.6357098318',
     'kilometers': '73697413.899165394',
     'miles': '45793449.5264706772'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2111-11-18',
    'close_approach_date_full': '2111-Nov-18 10:05',
    'epoch_date_close_approach': 4477284300000,
    'relative_velocity': {'kilometers_per_second': '17.3358658209',
     'kilometers_per_hour': '62409.1169552594',
     'miles_per_hour': '38778.5982547833'},
    'miss_distance': {'astronomical': '0.2881641343',
     'lunar': '112.0958482427',
     'kilometers': '43108740.701673941',
     'miles': '26786529.3641487458'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2120-11-17',
    'close_approach_date_full': '2120-Nov-17 12:34',
    'epoch_date_close_approach': 4761290040000,
    'relative_velocity': {'kilometers_per_second': '14.0535045083',
     'kilometers_per_hour': '50592.616229952',
     'miles_per_hour': '31436.284234661'},
    'miss_distance': {'astronomical': '0.3109060123',
     'lunar': '120.9424387847',
     'kilometers': '46510877.210273801',
     'miles': '28900518.9635924138'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2149-07-08',
    'close_approach_date_full': '2149-Jul-08 14:56',
    'epoch_date_close_approach': 5665042560000,
    'relative_velocity': {'kilometers_per_second': '12.7121029624',
     'kilometers_per_hour': '45763.5706646231',
     'miles_per_hour': '28435.703116582'},
    'miss_distance': {'astronomical': '0.4966513269',
     'lunar': '193.1973661641',
     'kilometers': '74297980.636913703',
     'miles': '46166624.3929589814'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2149-11-18',
    'close_approach_date_full': '2149-Nov-18 03:26',
    'epoch_date_close_approach': 5676492360000,
    'relative_velocity': {'kilometers_per_second': '17.5471606595',
     'kilometers_per_hour': '63169.7783742778',
     'miles_per_hour': '39251.2436792839'},
    'miss_distance': {'astronomical': '0.2969568722',
     'lunar': '115.5162232858',
     'kilometers': '44424115.562982214',
     'miles': '27603865.4025899932'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2158-11-17',
    'close_approach_date_full': '2158-Nov-17 21:28',
    'epoch_date_close_approach': 5960467680000,
    'relative_velocity': {'kilometers_per_second': '14.1153605186',
     'kilometers_per_hour': '50815.2978670824',
     'miles_per_hour': '31574.6499441324'},
    'miss_distance': {'astronomical': '0.3029140008',
     'lunar': '117.8335463112',
     'kilometers': '45315289.312858296',
     'miles': '28157615.0930486448'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2187-07-08',
    'close_approach_date_full': '2187-Jul-08 20:39',
    'epoch_date_close_approach': 6864208740000,
    'relative_velocity': {'kilometers_per_second': '12.6971431094',
     'kilometers_per_hour': '45709.7151938285',
     'miles_per_hour': '28402.2394214097'},
    'miss_distance': {'astronomical': '0.4995149233',
     'lunar': '194.3113051637',
     'kilometers': '74726368.558893371',
     'miles': '46432812.3043796798'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2187-11-18',
    'close_approach_date_full': '2187-Nov-18 21:15',
    'epoch_date_close_approach': 6875702100000,
    'relative_velocity': {'kilometers_per_second': '17.7225627277',
     'kilometers_per_hour': '63801.2258197758',
     'miles_per_hour': '39643.6005656268'},
    'miss_distance': {'astronomical': '0.3028491637',
     'lunar': '117.8083246793',
     'kilometers': '45305589.820801319',
     'miles': '28151588.1081594422'},
    'orbiting_body': 'Earth'},
   {'close_approach_date': '2196-11-17',
    'close_approach_date_full': '2196-Nov-17 06:40',
    'epoch_date_close_approach': 7159646400000,
    'relative_velocity': {'kilometers_per_second': '14.1957539142',
     'kilometers_per_hour': '51104.714091129',
     'miles_per_hour': '31754.4819306796'},
    'miss_distance': {'astronomical': '0.2941986989',
     'lunar': '114.4432938721',
     'kilometers': '44011498.712211343',
     'miles': '27347477.1804008134'},
    'orbiting_body': 'Earth'}],
  'orbital_data': {'orbit_id': '569',
   'orbit_determination_date': '2021-05-22 05:50:59',
   'first_observation_date': '1950-06-19',
   'last_observation_date': '2021-05-21',
   'data_arc_in_days': 25904,
   'observations_used': 3676,
   'orbit_uncertainty': '0',
   'minimum_orbit_intersection': '.245238',
   'jupiter_tisserand_invariant': '3.996',
   'epoch_osculation': '2459200.5',
   'eccentricity': '.3646327096541181',
   'semi_major_axis': '1.709606148906738',
   'inclination': '26.8661492430689',
   'ascending_node_longitude': '246.5682163273341',
   'orbital_period': '816.4743273528758',
   'perihelion_distance': '1.086227826389532',
   'perihelion_argument': '115.4512302440383',
   'aphelion_distance': '2.332984471423944',
   'perihelion_time': '2458888.034594338803',
   'mean_anomaly': '137.7723000828837',
   'mean_motion': '.4409201709589209',
   'equinox': 'J2000',
   'orbit_class': {'orbit_class_type': 'AMO',
    'orbit_class_description': 'Near-Earth asteroid orbits similar to that of 1221 Amor',
    'orbit_class_range': '1.017 AU < q (perihelion) < 1.3 AU'}},
  'is_sentry_object': False}]

In [58]:
data['near_earth_objects'][0]['name'] # para saber o nome do asteroide no indice

'433 Eros (A898 PA)'

In [59]:
asteroids = {"id": [], "nome": [], "perigoso": [], "diametro_min": [], "diametro_max": [], "primeira_obs": [], "ultima_obs": []} 
# dict para criar dataset no pandas

In [60]:
for asteroid in data['near_earth_objects']:
    asteroids['id'].append(asteroid['id'])
    asteroids['nome'].append(asteroid['name'])
    asteroids['perigoso'].append(asteroid['is_potentially_hazardous_asteroid'])
    asteroids['diametro_min'].append(asteroid['estimated_diameter']['kilometers']['estimated_diameter_min'])
    asteroids['diametro_max'].append(asteroid['estimated_diameter']['kilometers']['estimated_diameter_max'])
    asteroids['primeira_obs'].append(asteroid['orbital_data']['first_observation_date'])
    asteroids['ultima_obs'].append(asteroid['orbital_data']['last_observation_date'])

In [61]:
asteroids # retornará os dados

{'id': ['2000433',
  '2000719',
  '2000887',
  '2001036',
  '2001221',
  '2001566',
  '2001580',
  '2001620',
  '2001627',
  '2001685',
  '2001862',
  '2001863',
  '2001864',
  '2001865',
  '2001866',
  '2001915',
  '2001916',
  '2001917',
  '2001943',
  '2001980'],
 'nome': ['433 Eros (A898 PA)',
  '719 Albert (A911 TB)',
  '887 Alinda (A918 AA)',
  '1036 Ganymed (A924 UB)',
  '1221 Amor (1932 EA1)',
  '1566 Icarus (1949 MA)',
  '1580 Betulia (1950 KA)',
  '1620 Geographos (1951 RA)',
  '1627 Ivar (1929 SH)',
  '1685 Toro (1948 OA)',
  '1862 Apollo (1932 HA)',
  '1863 Antinous (1948 EA)',
  '1864 Daedalus (1971 FA)',
  '1865 Cerberus (1971 UA)',
  '1866 Sisyphus (1972 XA)',
  '1915 Quetzalcoatl (1953 EA)',
  '1916 Boreas (1953 RA)',
  '1917 Cuyo (1968 AA)',
  '1943 Anteros (1973 EC)',
  '1980 Tezcatlipoca (1950 LA)'],
 'perigoso': [False,
  False,
  False,
  False,
  False,
  True,
  False,
  True,
  False,
  False,
  True,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 'diametro_min': [21.905591097,
  2.1016237932,
  4.53476699,
  37.5452479361,
  0.8842090927,
  1.4340192346,
  3.0658787593,
  2.3150212221,
  7.7723970203,
  3.618719966,
  1.5942446807,
  2.2108281036,
  3.0238133257,
  1.1982708007,
  8.6408203645,
  0.4271249851,
  2.821986791,
  3.6354232184,
  1.9794975866,
  4.5978518828],
 'diametro_max': [48.9823907803,
  4.6993736648,
  10.1400472517,
  83.9537266171,
  1.9771516375,
  3.2065644897,
  6.8555133165,
  5.176544822,
  17.3796080855,
  8.0917038355,
  3.5648394788,
  4.9435619262,
  6.7614521476,
  2.6794149658,
  19.3214617164,
  0.9550805015,
  6.3101542964,
  8.1290534434,
  4.426291165,
  10.2811093604],
 'primeira_obs': ['1893-10-29',
  '1911-10-04',
  '1918-02-03',
  '1924-10-23',
  '1932-03-12',
  '1949-07-01',
  '1950-05-22',
  '1951-09-14',
  '1929-09-25',
  '1948-07-17',
  '1930-12-13',
  '1948-03-05',
  '1971-03-24',
  '1971-10-26',
  '1955-01-26',
  '1953-03-09',
  '1953-09-01',
  '1954-05-06',
  '1973-03-10',
  '1950-06-19'],
 'ultima_obs': ['2020-09-03',
  '2021-04-17',
  '2021-05-18',
  '2021-05-20',
  '2020-09-14',
  '2020-09-08',
  '2021-03-23',
  '2020-04-17',
  '2020-06-22',
  '2021-05-16',
  '2021-05-14',
  '2021-01-16',
  '2021-04-10',
  '2021-01-12',
  '2021-05-21',
  '2004-10-09',
  '2021-05-13',
  '2020-09-26',
  '2021-05-18',
  '2021-05-21']}

In [62]:
asteroids_data = pd.DataFrame(asteroids, index=asteroids["id"], columns=['nome', 'primeira_obs', 'ultima_obs', 'diametro_min', 'diametro_max', 'perigoso'])

#pode dar erro de tamanho, verificar duas sessos acima se rodou mais de 1 vez

In [63]:
asteroids_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 2000433 to 2001980
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nome          20 non-null     object
 1   primeira_obs  20 non-null     object
 2   ultima_obs    20 non-null     object
 3   diametro_min  20 non-null     float64
 4   diametro_max  20 non-null     float64
 5   perigoso      20 non-null     bool
dtypes: bool(1), float64(2), object(3)
memory usage: 980.0+ bytes

In [64]:
asteroids_data['perigoso'].describe()

count        20
unique        2
top       False
freq         17
Name: perigoso, dtype: object