In [2]:
import pandas as pd

In [3]:
filmes = pd.read_csv("movies.csv", sep="|", header=None)

In [4]:
filmes.columns = ["filmeID", "titulos", "lançamento", "estreia", "IMDb URL", "unknown", "action", "adventure", "animation", "children", "comedy", "crime", "documentary", "drama", "fantasy", "film-noir", "horror", "musical", "mystery", "romance", "sci-fi", "thriller", "war", "western"]
filmes = filmes.set_index("filmeID")

In [5]:
filmes.head()

,titulos,lançamento,estreia,IMDb URL,unknown,action,adventure,animation,children,comedy,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
filmeID,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
filmes.shape

(1682, 23)

In [7]:
filmes[["unknown", "action", "adventure", "animation", "children", "comedy", "crime", "documentary", "drama", "fantasy", "film-noir", "horror", "musical", "mystery", "romance", "sci-fi", "thriller", "war", "western"]].sum() # frequência de gêneros. O value counts mostra os valores de zeros também, portanto utilizei a soma para comar apenas os valores de '1', onde quer dizer true para aquele genero, naquele filme.

unknown          2
action         251
adventure      135
animation       42
children       122
comedy         505
crime          109
documentary     50
drama          725
fantasy         22
film-noir       24
horror          92
musical         56
mystery         61
romance        247
sci-fi         101
thriller       251
war             71
western         27
dtype: int64

In [8]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 1 to 1682
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titulos      1682 non-null   object
 1   lançamento   1681 non-null   object
 2   estreia      0 non-null      float64
 3   IMDb URL     1679 non-null   object
 4   unknown      1682 non-null   int64
 5   action       1682 non-null   int64
 6   adventure    1682 non-null   int64
 7   animation    1682 non-null   int64
 8   children     1682 non-null   int64
 9   comedy       1682 non-null   int64
 10  crime        1682 non-null   int64
 11  documentary  1682 non-null   int64
 12  drama        1682 non-null   int64
 13  fantasy      1682 non-null   int64
 14  film-noir    1682 non-null   int64
 15  horror       1682 non-null   int64
 16  musical      1682 non-null   int64
 17  mystery      1682 non-null   int64
 18  romance      1682 non-null   int64
 19  sci-fi       1682 non-null   int64
 20  thriller     1682 non-null   int64
 21  war          1682 non-null   int64
 22  western      1682 non-null   int64
dtypes: float64(1), int64(19), object(3)
memory usage: 315.4+ KB

In [9]:
filmes.isnull().sum(axis=0)

titulos           0
lançamento        1
estreia        1682
IMDb URL          3
unknown           0
action            0
adventure         0
animation         0
children          0
comedy            0
crime             0
documentary       0
drama             0
fantasy           0
film-noir         0
horror            0
musical           0
mystery           0
romance           0
sci-fi            0
thriller          0
war               0
western           0
dtype: int64

In [10]:
del(filmes['estreia']) # coluna de estreia removida, pois não haviam dados

In [11]:
filmes.head()

,titulos,lançamento,IMDb URL,unknown,action,adventure,animation,children,comedy,crime,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
filmeID,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [12]:
del(filmes['lançamento'])

In [13]:
del(filmes['IMDb URL'])

In [14]:
filmes.head()

,titulos,unknown,action,adventure,animation,children,comedy,crime,documentary,drama,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
filmeID,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [15]:
info_gen = filmes

In [16]:
info_gen.head()

,titulos,unknown,action,adventure,animation,children,comedy,crime,documentary,drama,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
filmeID,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [17]:
notas = pd.read_csv("notas.csv", sep='\t', header=None)

In [18]:
notas.columns = ["userID", "filmeID", "nota", "cep"]

In [19]:
notas.head()

   userID  filmeID  nota        cep
0     196      242     3  881250949
1     186      302     3  891717742
2      22      377     1  878887116
3     244       51     2  880606923
4     166      346     1  886397596

In [20]:
total_de_votos = notas["filmeID"].value_counts() # mostra quantas notas os filmes tiveram pelo seu ID
total_de_votos.head()

50     583
258    509
100    508
181    507
294    485
Name: filmeID, dtype: int64

In [21]:
filmes['total_de_votos'] = total_de_votos  # armazenando em nova coluna no dataframe filmes
filmes.head()

,titulos,unknown,action,adventure,animation,children,comedy,crime,documentary,drama,...,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western,total_de_votos
filmeID,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,452
2,GoldenEye (1995),0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,131
3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,90
4,Get Shorty (1995),0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,209
5,Copycat (1995),0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,86

In [22]:
filmes.sort_values('total_de_votos', ascending = False).head(10) # classificando do mais votado para o menos votado

,titulos,unknown,action,adventure,animation,children,comedy,crime,documentary,drama,...,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western,total_de_votos
filmeID,,,,,,,,,,,,,,,,,,,,,
50,Star Wars (1977),0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,583
258,Contact (1997),0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,509
100,Fargo (1996),0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,508
181,Return of the Jedi (1983),0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,507
294,Liar Liar (1997),0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,485
286,"English Patient, The (1996)",0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,481
288,Scream (1996),0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,478
1,Toy Story (1995),0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,452
300,Air Force One (1997),0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,431
121,Independence Day (ID4) (1996),0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,429

In [23]:
filmes.sort_values('total_de_votos').head(10) # do menos votado para o mais votado

,titulos,unknown,action,adventure,animation,children,comedy,crime,documentary,drama,...,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western,total_de_votos
filmeID,,,,,,,,,,,,,,,,,,,,,
1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
814,"Great Day in Harlem, A (1994)",0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1447,Century (1993),0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1593,Death in Brunswick (1991),0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1452,Lady of Burlesque (1943),0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1453,Angel on My Shoulder (1946),0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
1457,Love Is All There Is (1996),0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1458,"Damsel in Distress, A (1937)",0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1460,Sleepover (1995),0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1461,Here Comes Cookie (1935),0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [24]:
notas_medias = notas.groupby('filmeID').mean()['nota'] # média das notas por ID do filme
notas_medias.head

<bound method NDFrame.head of filmeID
1       3.878319
2       3.206107
3       3.033333
4       3.550239
5       3.302326
          ...
1678    1.000000
1679    3.000000
1680    2.000000
1681    3.000000
1682    3.000000
Name: nota, Length: 1682, dtype: float64>

In [25]:
filmes['nota_media'] = notas_medias # nova coluna criada
filmes.sort_values('total_de_votos', ascending=False).head(10)

,titulos,unknown,action,adventure,animation,children,comedy,crime,documentary,drama,...,horror,musical,mystery,romance,sci-fi,thriller,war,western,total_de_votos,nota_media
filmeID,,,,,,,,,,,,,,,,,,,,,
50,Star Wars (1977),0,1,1,0,0,0,0,0,0,...,0,0,0,1,1,0,1,0,583,4.358491
258,Contact (1997),0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,509,3.803536
100,Fargo (1996),0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,508,4.155512
181,Return of the Jedi (1983),0,1,1,0,0,0,0,0,0,...,0,0,0,1,1,0,1,0,507,4.007890
294,Liar Liar (1997),0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,485,3.156701
286,"English Patient, The (1996)",0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,481,3.656965
288,Scream (1996),0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,478,3.441423
1,Toy Story (1995),0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,452,3.878319
300,Air Force One (1997),0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,431,3.631090
121,Independence Day (ID4) (1996),0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,429,3.438228

In [26]:
notas['nota']

0        3
1        3
2        1
3        2
4        1
        ..
99995    3
99996    5
99997    1
99998    2
99999    3
Name: nota, Length: 100000, dtype: int64

In [27]:
total_de_votos.max()

583

In [28]:
total_de_votos.min()

1

In [29]:
soma_notas = notas['nota'].sum() # dúvida = soma de todas as avaliações (?)

In [45]:
desvio_padrao = notas.std(axis=1) # dúvida = desvio padrão de que(?)
desvio_padrao.head(5)

0    4.406254e+08
1    4.458588e+08
2    4.394435e+08
3    4.403034e+08
4    4.431987e+08
dtype: float64

In [48]:
filmes['desvio_padrao'] = desvio_padrao
filmes.head()

,titulos,unknown,action,adventure,animation,children,comedy,crime,documentary,drama,...,musical,mystery,romance,sci-fi,thriller,war,western,total_de_votos,nota_media,desvio_padrao
filmeID,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,452,3.878319,4.458588e+08
2,GoldenEye (1995),0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,131,3.206107,4.394435e+08
3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,90,3.033333,4.403034e+08
4,Get Shorty (1995),0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,209,3.550239,4.431987e+08
5,Copycat (1995),0,0,0,0,0,0,1,0,1,...,0,0,0,0,1,0,0,86,3.302326,4.420913e+08