In [10]:
import pandas as pd
import numpy as np

In [11]:
filmes = pd.read_csv("movies.csv", sep="|", header=None)

In [12]:
filmes.columns = ["filmeID", "titulos", "lançamento", "estreia", "IMDb URL", "unknown", "action", "adventure", "animation", "children", "comedy", "crime", "documentary", "drama", "fantasy", "film-noir", "horror", "musical", "mystery", "romance", "sci-fi", "thriller", "war", "western"]
filmes = filmes.set_index("filmeID")

In [13]:
filmes.head()

,titulos,lançamento,estreia,IMDb URL,unknown,action,adventure,animation,children,comedy,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
filmeID,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
filmes.shape

(1682, 23)

In [15]:
filmes.loc[:, 'unknown':'western'].sum()
# frequência de gêneros. O value counts mostra os valores de zeros também, portanto utilizei a soma para comar apenas os valores de '1', onde quer dizer true para aquele genero, naquele filme.

unknown          2
action         251
adventure      135
animation       42
children       122
comedy         505
crime          109
documentary     50
drama          725
fantasy         22
film-noir       24
horror          92
musical         56
mystery         61
romance        247
sci-fi         101
thriller       251
war             71
western         27
dtype: int64

In [16]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 1 to 1682
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titulos      1682 non-null   object
 1   lançamento   1681 non-null   object
 2   estreia      0 non-null      float64
 3   IMDb URL     1679 non-null   object
 4   unknown      1682 non-null   int64
 5   action       1682 non-null   int64
 6   adventure    1682 non-null   int64
 7   animation    1682 non-null   int64
 8   children     1682 non-null   int64
 9   comedy       1682 non-null   int64
 10  crime        1682 non-null   int64
 11  documentary  1682 non-null   int64
 12  drama        1682 non-null   int64
 13  fantasy      1682 non-null   int64
 14  film-noir    1682 non-null   int64
 15  horror       1682 non-null   int64
 16  musical      1682 non-null   int64
 17  mystery      1682 non-null   int64
 18  romance      1682 non-null   int64
 19  sci-fi       1682 non-null   int64
 20  thriller     1682 non-null   int64
 21  war          1682 non-null   int64
 22  western      1682 non-null   int64
dtypes: float64(1), int64(19), object(3)
memory usage: 315.4+ KB

In [17]:
filmes.isnull().sum(axis=0)

titulos           0
lançamento        1
estreia        1682
IMDb URL          3
unknown           0
action            0
adventure         0
animation         0
children          0
comedy            0
crime             0
documentary       0
drama             0
fantasy           0
film-noir         0
horror            0
musical           0
mystery           0
romance           0
sci-fi            0
thriller          0
war               0
western           0
dtype: int64

In [18]:
filmes.isnull().values.any()

True

In [19]:
del(filmes['estreia']) # coluna de estreia removida, pois não haviam dados

In [20]:
filmes.head()

,titulos,lançamento,IMDb URL,unknown,action,adventure,animation,children,comedy,crime,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
filmeID,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [21]:
# Novo DF que condense informações sobre o gênero do filme:

generos = np.array(filmes.columns[3:]) # cria uma lista de generos
generos

array(['unknown', 'action', 'adventure', 'animation', 'children',
       'comedy', 'crime', 'documentary', 'drama', 'fantasy', 'film-noir',
       'horror', 'musical', 'mystery', 'romance', 'sci-fi', 'thriller',
       'war', 'western'], dtype=object)

In [22]:
gen_cond = filmes.copy()
gen_cond['Genero'] = gen_cond.loc[:, 'unknown':].apply(lambda x: generos[x==1], axis=1) # retorna uma função que irá aplicar a lista e pegar os valores booleanos para selecionar quais generos pertencem aquele filme na linha, dirigido por colunas.
gen_cond.Genero

filmeID
1       [animation, children, comedy]
2       [action, adventure, thriller]
3                          [thriller]
4             [action, comedy, drama]
5            [crime, drama, thriller]
                    ...
1678                          [drama]
1679              [romance, thriller]
1680                 [drama, romance]
1681                         [comedy]
1682                          [drama]
Name: Genero, Length: 1682, dtype: object

In [23]:
gen_cond['Genero'] = gen_cond.Genero.apply(lambda x: ", ".join(x)) # transformar lista em string, utilizando separador.

In [24]:
gen_cond.Genero

filmeID
1       animation, children, comedy
2       action, adventure, thriller
3                          thriller
4             action, comedy, drama
5            crime, drama, thriller
                   ...
1678                          drama
1679              romance, thriller
1680                 drama, romance
1681                         comedy
1682                          drama
Name: Genero, Length: 1682, dtype: object

In [25]:
gen_cond.drop(columns=generos, inplace=True)

In [26]:
gen_cond.head()

,titulos,lançamento,IMDb URL,Genero
filmeID,,,,
1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"animation, children, comedy"
2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,"action, adventure, thriller"
3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,thriller
4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"action, comedy, drama"
5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),"crime, drama, thriller"

In [27]:
new_filmes = gen_cond # atualizando a tabela completa com novo nome

## Arquivo de notas

In [28]:
notas = pd.read_csv("ml-100k.csv", sep='\t', header=None)
notas_por_usuario = notas

In [29]:
notas_por_usuario.head()

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
notas_por_usuario[notas==0] = np.nan # transformar os valores de 0 em NaN para obter estatísticas mais reais, pois onde havia 0, não havia avaliação
notas_por_usuario.head()

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
notas_por_usuario.index += 1 # para deixar os índices começando de 1 e não de 0 (soma 1 em todos)
notas_por_usuario.columns += 1
notas_por_usuario.head()

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
notas_por_usuario.stack() # retorna uma série com todos os valores do data frame

1    1       5.0
     2       3.0
     3       4.0
     4       3.0
     5       3.0
            ...
943  1067    2.0
     1074    4.0
     1188    3.0
     1228    3.0
     1330    3.0
Length: 100000, dtype: float64

In [71]:
notas_por_usuario.stack().mean() # retorna a média da série

3.485725545701696

In [34]:
notas_por_usuario.stack().std() # desvio padrão da série

1.125673599144316

In [35]:
notas_por_usuario.stack().var() # variância

1.2671410518105182

In [36]:
media = notas_por_usuario['media'] = notas_por_usuario.mean(axis=1)
notas_por_usuario['media']

1      3.610294
2      3.709677
3      2.796296
4      4.333333
5      2.874286
         ...
939    4.265306
940    3.457944
941    4.045455
942    4.265823
943    3.410714
Name: media, Length: 943, dtype: float64

In [37]:
desvio_padrao = notas_por_usuario['desvio_padrao'] = notas_por_usuario.loc[:, :1682].std(axis=1)
notas_por_usuario['desvio_padrao']

1      1.263585
2      1.030472
3      1.219026
4      0.916831
5      1.362963
         ...
939    0.974156
940    1.012007
941    0.898532
942    0.763072
943    1.258886
Name: desvio_padrao, Length: 943, dtype: float64

In [38]:
notas_por_usuario.describe()

,1,2,3,4,5,6,7,8,9,10,...,1675,1676,1677,1678,1679,1680,1681,1682,media,desvio_padrao
count,452.000000,131.000000,90.000000,209.000000,86.000000,26.000000,392.000000,219.000000,299.000000,89.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,943.000000,943.000000
mean,3.878319,3.206107,3.033333,3.550239,3.302326,3.576923,3.798469,3.995434,3.896321,3.831461,...,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0,3.588191,1.019883
std,0.927897,0.966497,1.212760,0.965069,0.946446,1.301478,0.982037,1.002281,1.042368,1.013948,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.445233,0.205150
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0,1.491954,0.344350
25%,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0,3.323054,0.875950
50%,4.000000,3.000000,3.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0,3.620690,1.012007
75%,5.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0,3.869565,1.139879
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,3.0,2.0,3.0,1.0,3.0,2.0,3.0,3.0,4.869565,1.749906

In [39]:
notas_por_usuario.sort_values('media', ascending=True) # para verificar usuários que avaliam mais negativamente

,1,2,3,4,5,6,7,8,9,10,...,1675,1676,1677,1678,1679,1680,1681,1682,media,desvio_padrao
181,3.0,NaN,2.0,NaN,NaN,1.0,4.0,NaN,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.491954,0.846138
405,NaN,1.0,NaN,4.0,4.0,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.834464,1.345183
445,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.985185,1.099424
685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.050000,0.759155
774,NaN,1.0,NaN,2.0,NaN,NaN,2.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.058036,1.140855
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.687500,0.692704
628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.703704,0.724028
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.724138,0.767614
688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.833333,0.637022
849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.869565,0.344350

In [40]:
notas_por_usuario.sort_values('media', ascending=False) # para verificar usuários que avaliam mais positivamente

,1,2,3,4,5,6,7,8,9,10,...,1675,1676,1677,1678,1679,1680,1681,1682,media,desvio_padrao
849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.869565,0.344350
688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.833333,0.637022
507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.724138,0.767614
628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.703704,0.724028
928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.687500,0.692704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
774,NaN,1.0,NaN,2.0,NaN,NaN,2.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.058036,1.140855
685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.050000,0.759155
445,3.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.985185,1.099424
405,NaN,1.0,NaN,4.0,4.0,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.834464,1.345183
181,3.0,NaN,2.0,NaN,NaN,1.0,4.0,NaN,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.491954,0.846138

In [41]:
notas_por_usuario['desvio_padrao'].sort_values() # usuários que avaliam filmes de forma mais uniformes, de acordo com desvio padrão

849    0.344350
355    0.483576
477    0.505433
469    0.549841
33     0.550033
         ...
38     1.598036
68     1.604639
531    1.654322
762    1.687489
609    1.749906
Name: desvio_padrao, Length: 943, dtype: float64

In [42]:
variancia = notas_por_usuario['variancia'] = notas_por_usuario.var(axis=1)

In [43]:
notas_por_usuario.head()

,1,2,3,4,5,6,7,8,9,10,...,1676,1677,1678,1679,1680,1681,1682,media,desvio_padrao,variancia
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.610294,1.263585,1.605048
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.709677,1.030472,1.140320
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.796296,1.219026,1.476411
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.333333,0.916831,1.222275
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.874286,1.362963,1.849463

In [44]:
zscore_notas = notas_por_usuario - notas_por_usuario.stack().mean() / notas_por_usuario.stack().std()

In [45]:
notas_padronizadas = zscore_notas

In [46]:
zscore_notas.head()

,1,2,3,4,5,6,7,8,9,10,...,1676,1677,1678,1679,1680,1681,1682,media,desvio_padrao,variancia
1,1.99198,-0.00802,0.99198,-0.00802,-0.00802,1.99198,0.99198,-2.00802,1.99198,-0.00802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.602274,-1.744435,-1.402972
2,0.99198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.00802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.701657,-1.977548,-1.867700
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.211724,-1.788994,-1.531609
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.325313,-2.091189,-1.785745
5,0.99198,-0.00802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.133734,-1.645057,-1.158557

In [47]:
(zscore_notas.stack()>3).unique() # retorna falso, não há outliers

array([False])

In [48]:
zscore_notas

,1,2,3,4,5,6,7,8,9,10,...,1676,1677,1678,1679,1680,1681,1682,media,desvio_padrao,variancia
1,1.99198,-0.00802,0.99198,-0.00802,-0.00802,1.99198,0.99198,-2.00802,1.99198,-0.00802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.602274,-1.744435,-1.402972
2,0.99198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.00802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.701657,-1.977548,-1.867700
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.211724,-1.788994,-1.531609
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.325313,-2.091189,-1.785745
5,0.99198,-0.00802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.133734,-1.645057,-1.158557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.99198,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.257286,-2.033864,-1.884614
940,NaN,NaN,NaN,-1.00802,NaN,NaN,0.99198,1.99198,-0.00802,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.449924,-1.996013,-1.947942
941,1.99198,NaN,NaN,NaN,NaN,NaN,0.99198,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.037434,-2.109488,-1.858236
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.257803,-2.244948,-2.288826
943,NaN,1.99198,NaN,NaN,NaN,NaN,NaN,NaN,-0.00802,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.402694,-1.749134,-1.414743

In [49]:
new_filmes

,titulos,lançamento,IMDb URL,Genero
filmeID,,,,
1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"animation, children, comedy"
2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,"action, adventure, thriller"
3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,thriller
4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"action, comedy, drama"
5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),"crime, drama, thriller"
...,...,...,...,...
1678,Mat' i syn (1997),06-Feb-1998,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,drama
1679,B. Monkey (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,"romance, thriller"
1680,Sliding Doors (1998),01-Jan-1998,http://us.imdb.com/Title?Sliding+Doors+(1998),"drama, romance"
1681,You So Crazy (1994),01-Jan-1994,http://us.imdb.com/M/title-exact?You%20So%20Cr...,comedy
1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,http://us.imdb.com/M/title-exact?Schrei%20aus%...,drama

In [50]:
notas_por_usuario.isnull()

,1,2,3,4,5,6,7,8,9,10,...,1676,1677,1678,1679,1680,1681,1682,media,desvio_padrao,variancia
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,False,False,False
2,False,True,True,True,True,True,True,True,True,False,...,True,True,True,True,True,True,True,False,False,False
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,False,False
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,False,False
5,False,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,True,True,True,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,False,False,False
940,True,True,True,False,True,True,False,False,False,True,...,True,True,True,True,True,True,True,False,False,False
941,False,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,False,False,False
942,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,False,False
943,True,False,True,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,False,False,False

In [53]:
# Fazer transposta para colocar colunas na tabela dos filmes....

notas_T = notas.T
media_T = notas_T['media'] = notas_T.mean(axis=1)
notas_T['media']

1                3.878319
2                3.206107
3                3.033333
4                3.550239
5                3.302326
                   ...
1681             3.000000
1682             3.000000
media            3.588191
desvio_padrao    1.019883
variancia        1.168885
Name: media, Length: 1685, dtype: float64

In [54]:
desvio_padrao_T = notas_T['desvio_padrao'] = notas_T.loc[:, :943].std(axis=1)
notas_T['desvio_padrao']

1                0.927897
2                0.966497
3                1.212760
4                0.965069
5                0.946446
                   ...
1681                  NaN
1682                  NaN
media            0.445233
desvio_padrao    0.205150
variancia        0.388615
Name: desvio_padrao, Length: 1685, dtype: float64

In [55]:
variancia_T = notas_T['variancia'] = notas_T.var(axis=1)
notas_T['variancia']

1                0.876365
2                0.957676
3                1.474489
4                0.954162
5                0.938237
                   ...
1681             0.000000
1682             0.000000
media            0.208266
desvio_padrao    0.042700
variancia        0.151346
Name: variancia, Length: 1685, dtype: float64

In [56]:
# adicionando as colunas na tabela dos filmes e generos:

new_filmes['ava_media'] = media_T
new_filmes['desvio_padrao'] = desvio_padrao_T
new_filmes['variancia'] = variancia_T
new_filmes.head()

,titulos,lançamento,IMDb URL,Genero,ava_media,desvio_padrao,variancia
filmeID,,,,,,,
1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"animation, children, comedy",3.878319,0.927897,0.876365
2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,"action, adventure, thriller",3.206107,0.966497,0.957676
3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,thriller,3.033333,1.212760,1.474489
4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"action, comedy, drama",3.550239,0.965069,0.954162
5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),"crime, drama, thriller",3.302326,0.946446,0.938237

In [57]:
new_filmes.tail()

,titulos,lançamento,IMDb URL,Genero,ava_media,desvio_padrao,variancia
filmeID,,,,,,,
1678,Mat' i syn (1997),06-Feb-1998,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,drama,1.0,NaN,0.0
1679,B. Monkey (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,"romance, thriller",3.0,NaN,0.0
1680,Sliding Doors (1998),01-Jan-1998,http://us.imdb.com/Title?Sliding+Doors+(1998),"drama, romance",2.0,NaN,0.0
1681,You So Crazy (1994),01-Jan-1994,http://us.imdb.com/M/title-exact?You%20So%20Cr...,comedy,3.0,NaN,0.0
1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,http://us.imdb.com/M/title-exact?Schrei%20aus%...,drama,3.0,NaN,0.0

In [60]:
new_filmes['Nota Máxima'] = notas_T.max()

In [61]:
new_filmes['Nota Mínima'] = notas_T.min()

In [64]:
new_filmes.head()

,titulos,lançamento,IMDb URL,Genero,ava_media,desvio_padrao,variancia,Nota Máxima,Nota Mínima
filmeID,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"animation, children, comedy",3.878319,0.927897,0.876365,5.0,1.000000
2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,"action, adventure, thriller",3.206107,0.966497,0.957676,5.0,1.000000
3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,thriller,3.033333,1.212760,1.474489,5.0,1.000000
4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"action, comedy, drama",3.550239,0.965069,0.954162,5.0,0.916831
5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),"crime, drama, thriller",3.302326,0.946446,0.938237,5.0,1.000000